<h1><%= current_user.id %>'s Profile</h1>

<h2>CVs</h2>
<ul>
  <% current_user.cvs.each do |cv| %>
    <li>
      <%= link_to cv.name, user_cv_path(current_user, cv) %>
    </li>
  <% end %>
</ul>
<%= link_to "Create New CV", new_user_cv_path(current_user) %>

<%= link_to "Edit Profile", edit_user_registration_path %>
